<!DOCTYPE html>
<html lang="en">
<div class="grid-container">

    <head>
        <link rel="stylesheet" href="style.css">
        <title>Blue Cup</title>
    </head>

    <body>
        <div>
            <header class="header">
                <div class="brand">
                    <a href="index.html">Blue Cup</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main class="main">
                <ul>
                    <li>Proudct 1</li>
                    <li>Proudct 2</li>
                    <li>Proudct 3</li>
                    <li>Proudct 4</li>
                    <li>Proudct 5</li>
                </ul>
            </main>
            <footer class="footer">
                &copy; 2022 Blue Cup
            </footer>
        </div>
    </body>
</div>

</html>